/**
 * Vertical Menu
 */
.menu {
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: block;
    text-align: right;
}

.menu > li {
    font-size: 1.5em !important;
}

.menu > li > a {
    line-height: 1;
    padding: 0.7rem 1rem;
    display: block;
}

.menu > li > a:hover {
    opacity: 0.8;
}

// .menu .active > a {
//     background: $navbar-active-color;
//     -moz-transform: scale(1.1);
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
// } 

.menu>li.dropdown {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.menu>.dropdown a {
    color: $header-link-color;
}

.menu .dropdown ul li {
	display: block;
	position: relative;
	line-height: 20px;
	-webkit-transition: height .15s ease-in;
	-ms-transition: height .15s ease-in;
	-moz-transition: height .15s ease-in;
	-o-transition: height .15s ease-in;
	transition: height .15s ease-in;
}

// Dropdown menu arrow
.menu>.dropdown>a::after {
    padding-left: .5em;
    content: "\25B8";
}